* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #adc6ff;
    z-index: 50;
    padding: 10px;

}

.logo {
    width: 3.75rem;
    height: 3.75rem;
    padding: 0rem;
}
