.timeBlInput {
    display: block;
    width: 80%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3c4247;
    background-color: f5f5f5;
    background-clip: padding-box;
    border: 1px solid #c8c8c8;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 20px;
    border-radius: 8px;
  }

  .timeBlInput:hover {
    border: 1px solid #0050b3;
  }

  .timeBlInput:active {
    border: 1px solid #0050b3;
  }

  .submitBtn {
    display: block;
    width: 15%;
    height: calc(2.25rem + 1px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    background-color: #1890ff;
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .submitBtn:hover {
    background-color: #40a9ff;
  }
  
  .submitBtn:active {
    background-color: #0050b3;
  }
  