@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f0f5ff;
}

.load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h5 {
  margin-top: 10px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
  display: flex; 
  align-items: center;   
}

.socials a {
  text-decoration: none;
  color: #8a8a8a;
}

.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i {
  color: rgb(4, 8, 20);
}

.socials li a {
  font-size:150%;
}